{% extends 'base.html' %} {% block title %} Test Home {% endblock %} {% block
body %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
  <div class="container-fluid">
    <a href="#" class="navbar-brand px-5">Nutrition Planner</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{ url_for('home', user_id=user.id)}}" class="nav-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('logout')}}" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Query Search -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex">
      <div class="p-4">
        <h1>
          Let's search for <span class="text-warning">{{type}}</span> foods!
        </h1>
        <div class="mb-3">
          <form
            action="{{ url_for('add_Meal', user_id = user.id, type = type) }}"
            method="POST"
          >
            <input type="text" class="form-control" id="query" name="query" />
            <button type="submit">Submit</button>
          </form>
        </div>
        <p>{{exclude}}</p>
      </div>
      <div class="d-flex p-4 justify-content-center">
        <table class="table table-dark text-center">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Calories</th>
              <th scope="col">Carbs</th>
              <th scope="col">Proteins</th>
              <th scope="col">Fats</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Target</th>
              <td>{{user.totalcalories}}</td>
              <td>{{user.totalcarbs}}</td>
              <td>{{user.totalproteins}}</td>
              <td>{{user.totalfats}}</td>
            </tr>
            <tr>
              <th scope="row">Cumulative</th>
              <td>{{runningCalories}}</td>
              <td>{{runningCarbs}}</td>
              <td>{{runningProteins}}</td>
              <td>{{runningFats}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="p-5">
  <h2>Search Results:</h2>
</div>
{% if queries |length > 0 %}
<div class="d-flex justify-content-center">
  <div class="list-group w-50">
    {% for q in queries %}
    <div class="list-group-item list-group-item-action mx-auto">
      <div class="d-flex w-100 justify-content-around align-items-center">
        <div class="row w-75">
          <h5 class="mb-1">{{q['name']}}</h5>
          <div class="col w-50">
            <form
              action="{{ url_for('add_Food', user_id = user.id, type = type, food_id = q.id) }}"
              method="POST"
            >
              <button class="w-100 btn btn-secondary" type="submit">Add</button>
            </form>
            <form
              action="{{ url_for('view_Recipe', user_id = user.id, food_id = q.id, type = type)}}"
            >
              <button class="w-100 btn btn-secondary" type="submit">
                View Recipe
              </button>
            </form>
          </div>
          <div class="col w-50">
            <p class="mb-2">{{q['calories']|round|int}} calories</p>
          </div>
        </div>
        <div>
          <img src="{{q['image']}}" class="img-thumbnail" />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <h4>No Search Results Found</h4>
</div>
{% endif %} {% if suggestions |length > 0 %}
<div class="p-5">
  <h2>Suggestions based on your preferences:</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="list-group w-50">
    {% for s in suggestions %}
    <div class="list-group-item list-group-item-action mx-auto">
      <div class="d-flex w-100 justify-content-around align-items-center">
        <div class="row w-75">
          <h5 class="mb-2">{{s['name']}}</h5>
          <div class="col w-50">
            <form
              action="{{ url_for('add_Food', user_id = user.id, type = type, food_id = s.id) }}"
              method="POST"
            >
              <button class="w-100 btn btn-secondary" type="submit">Add</button>
            </form>
            <form action="">
              <button class="w-100 btn btn-secondary" type="submit">
                View Recipe
              </button>
            </form>
          </div>
          <div class="col w-50">
            <p class="mb-1">{{s['calories']|round|int}} calories</p>
          </div>
        </div>
        <div>
          <img src="{{s['image']}}" class="img-thumbnail" />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
