{% extends 'base.html' %} {% block title %} Test Home {% endblock %} {% block
body %}
<section
  class="vh-100"
  style="
    background-image: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  "
>
  <div class="container h-100" style="opacity: 0.95">
    <div class="row d-flex align-items-center h-100">
      <div class="card text-black" style="border-radius: 25px">
        <div class="card-body p-md-5">
          <div class="row">
            <p class="text-center h1 fw-bold mb-5 mx-auto">Nutrition Tracker</p>
          </div>
          <div class="row">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h3 mb-3 mx-auto">Log in</p>
              <form
                class="mx-auto"
                action="{{ url_for('login') }}"
                method="POST"
              >
                <div class="d-flex flex-row mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <label class="form-label" for="username">Username</label>
                    <input
                      name="username"
                      type="text"
                      id="username"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="d-flex flex-row mb-4">
                  <div class="form-outline flex-fill mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      id="form3Example4c"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  {% if message %}
                  <p class="text-danger">{{message}}</p>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-primary btn-lg">
                    Log In
                  </button>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <a href="{{ url_for('signup') }}"
                    >New User? Create an Account</a
                  >
                </div>
              </form>
            </div>
            <div
              class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
            >
              <img
                src="https://img.freepik.com/free-vector/healthy-vs-unhealthy-food-flat-illustration_74855-18384.jpg?w=2000&t=st=1664672267~exp=1664672867~hmac=2e584c9ba3e996c07051c33d421d03bea2691d37642bdd48d9e54aeda6b2cf55"
                class="img-fluid"
                alt="Sample"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
